#grid {
  position:relative;
  width:75%;
  margin:40% auto 0 auto;
  padding:5%;
}

@media (min-width:800px) {
  #body{
    background-color: red;
  }

}

.no {
  background-color: red;
  animation: match 250ms linear;
}

.yes {
  background-color: green;
  animation: match 250ms linear; 
}

@keyframes match {
  0% {opacity:0;}
  25% {opacity:100;}
  50% {opacity:0;}
  75% {opacity:100;}
  100% {opacity:0;}
}


#grid > div {
  display:inline-block;
  position:absolute;
  /*background-color:black;*/
  transition:all 250ms linear;
  /*float:left;*/
}


#grid > i {
  margin-left:25%;
  margin-right:25%;
}

.out {
  background-color: linen;
}

.clicked {
  background-color: red;
}

.pending > i {
  opacity:1;
}