#grid {
  position:relative;
  width:75%;
  margin:0 auto;
  padding:5%;
}

#grid > div {
  display:inline-block;
  position:absolute;
  background-color:black;
  transition:all 250ms linear;
  /*float:left;*/
}

#grid >div.clicked {
  background-color: white;
}


i {
  margin-top:25%;
  margin-left:25%;
}