#grid {
  position:relative;
  width:75%;
  margin:20% auto 0 auto;
  padding:5%;
}


#grid > div {
  display:inline-block;
  position:absolute;
  /*background-color:black;*/
  transition:all 250ms linear;
  /*float:left;*/
}


.out {
  background-color: linen;
}

i {
  margin-top:25%;
  margin-left:25%;
}

.clicked {
  background-color: red;
}