#screen {
  width:100%;
  border:thin dotted black;
  height:6em;
  perspective:10vw;
  perspective-origin:2vw 2vw;
  transform:translateZ(100vw);
}

.sheet {
  position:relative;
  width:100%;
  height:100%;
}

/* standard animation class */
.animate {
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.scroll {
  animation-name: scroll;
}

.quick {
  animation-duration:20s;
}

.normal {
  animation-duration:40s;
}

.slow {
  animation-duration:120s;
}

/* scrolling animation */
@keyframes scroll {
  from {left: -10%;}
  to {left: 100%;}
}

.fore {
  width:calc(1 * 713px);
  transform:translateZ(0vw) translateY(25%);
}

.foreground {
  width:calc(1.4 * 713px);
  transform:translateZ(-14vw) translateY(-15%);
}

.middleFore {
  width:3.8vw;
  transform:translateZ(-28vw);
}

.middle {
  width:calc(5.2 * 713px);
  transform:translateZ(-42vw);
}

.middlBack {
  width:6.6vw;
  transform:translateZ(-56vw);
}

.background {
  width:8.0vw;
  transform:translateZ(-70vw);
}

.back{
  width:calc(9.4*713px);
  transform:translateZ(-84vw);
}

.back > i {
  transform:scale(5) translateY(-20%);
}
