#hourglass {
  border:thick solid orange;
  position:relative;
  display:block;
  top:50%;
  width:30%;
  height:2em;
  margin:0 auto;
}

#sand {
  height:100%;
}

.empty {
  width:0%;
}

.full {
  background-color: red;
  animation:timer 2s linear;
}

@keyframes timer {
  0% {width:0%;}
  0% {background-color:green;}
  50% {background-color:yellow;}
  100% {width: 100%;}
  100% {background-color:red;}
}